:root {
  /* Colors */
  --blue-1: #192396;
  --white: #ffffff;
  --white-2: rgba(255, 255, 255, 0);
  --black: #000000;
  --black-2: #323232;
  --dark-green: #003844;
  --light-grey: #f7f8f9;
  --grey: #bbbbbb;
  /* Fonts */
  --h1-font-family: "Montserrat", sans-serif;
  --h1-font-size: 62px;
  --h1-line-height: 72px;
  --h1-font-weight: 900;
  --h1-font-style: normal;
  --h2-font-family: "Montserrat", sans-serif;
  --h2-font-size: 48px;
  --h2-line-height: 54px;
  --h2-font-weight: 400;
  --h2-font-style: normal;
  --h3-font-family: "Montserrat", sans-serif;
  --h3-font-size: 38px;
  --h3-line-height: 120%;
  --h3-font-weight: 700;
  --h3-font-style: normal;
  --numbers-font-family: "Manrope", sans-serif;
  --numbers-font-size: 110px;
  --numbers-line-height: 140px;
  --numbers-font-weight: 300;
  --numbers-font-style: normal;
  --btn-text-font-family: "Manrope", sans-serif;
  --btn-text-font-size: 16px;
  --btn-text-line-height: 28px;
  --btn-text-font-weight: 600;
  --btn-text-font-style: normal;
  --subtitle-1-font-family: "Manrope", sans-serif;
  --subtitle-1-font-size: 18px;
  --subtitle-1-line-height: 28px;
  --subtitle-1-font-weight: 500;
  --subtitle-1-font-style: normal;
  --slogan-font-family: "Manrope", sans-serif;
  --slogan-font-size: 110px;
  --slogan-line-height: normal;
  --slogan-font-weight: 200;
  --slogan-font-style: normal;
  --description-font-family: "Manrope", sans-serif;
  --description-font-size: 16px;
  --description-line-height: 20px;
  --description-font-weight: 400;
  --description-font-style: normal;
  --subtitle-2-font-family: "Manrope", sans-serif;
  --subtitle-2-font-size: 20px;
  --subtitle-2-line-height: 28px;
  --subtitle-2-font-weight: 700;
  --subtitle-2-font-style: normal;
  --hint-font-family: "Manrope", sans-serif;
  --hint-font-size: 12px;
  --hint-line-height: 20px;
  --hint-font-weight: 400;
  --hint-font-style: normal;
}